/* Most CSS injected is from Bootstrap and comes with pre-defined designs */
/* CSS inserted here are for customizing those pre-defined designs further to suit your needs */

.navbar{
  border-bottom: 4px solid#ef0000;
  z-index: 5;
}
.float-child {
  width: responsive;
  padding: 2px;
}  
.left-float{
  width: 20%;
  position: relative;
  height: 88vh;
  background-image: url("../assets/folders-opa5.png");
  background-position: center;
  background-size: 15vw;
  background-repeat: no-repeat;
  float: left;
}
.right-float{
  padding: 0%;
  border-left: 4px solid #ef0000;
  width: 80%;
  overflow-y: auto;
  position: relative;
  height: 88vh;
  float: right;
}
.modal-backdrop {
  display: none;
}
.modal{
  z-index: 50000;
}
.search {
  float: left;
  margin: 5px;
}
.upsload{
  float: right;
  margin: 5px;
}
.pagination {
  margin: 5px;
}
.prev-panel{
  background-color: #f6eece;
}
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
#myTable td {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}
.sorta {
  cursor: pointer;
}

.url{
  text-align: center;
}
.urlDirect {
  width: 80%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 5px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th{
  background-color: #cf0f39;
  color: #ffffff;
}

/* Differentiating the collor of every odd row entry in the table of files */
tr:nth-child(odd) {
  background-color: #f2f2f2
}
.float-child h2{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

ul, #myUL {
  list-style-type: none;
}

#myUL li{
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

#myUL li:before {
  content: "➤ ";
}

#myUL li:hover{
  cursor: pointer;
}

.sign-out { 
  border-radius: 25px;
  background-color: red;
  font-weight: bold;
  justify-content: center;

}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}
.navbar img{
  cursor: pointer;
}
.leftlabel {
  margin-bottom: 20px;
}
.leftlabel label{
  display: inline;
  margin-bottom: 6px;
  float: left;
  width: 30%;
}
.leftlabel input, select{
  display: block;
  width: 70%;
  margin-bottom: 5px;
}
#editUserModal label{
  display: inline-block;
  width: 30%;
}
#editUserModal input, select{
  display: inline-block;
  width: 70%;
  margin-bottom: 5px;
}
#editUserModal input, select::after {
  content: "\a";
}

.profile-card{
  background-color: #f6eece;
}
.prof-info {
  width: 70vw;
  height: 67.5vh;
  overflow-y: auto;
  float: left;
  background-color: white;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin: 30px;
  border-radius: 12.5px;
  border:1px solid black;
}
.prof-info button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-bottom: 10px;
}
.prof-info button.active {
  background-color: #ccc;
}
.prof-info-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.prof-table {
  background-color: white;
}
.prof-uploads {
  overflow-y: hidden; 
}
.prof-btns {
  margin-right: 30px;
  margin-top: 120px;
  width: 22vw;
  position: relative;
  height: 320px;
  float: right; 
  background-color: white;
  padding: 20px;
  padding-top: 150px;
  text-align: center;
  border-radius: 12.5px;
  border:1px solid black;
}
.prof-holder {
  position:absolute;
  height:200px;
  width:200px;
  border-radius:50%;
  border:1px solid black;
  margin-left:-25px;
  bottom: 65.8%;
  left: 25%;
  background:white;
}
.prof-holder img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.prof-btns button {
  margin-bottom: 10px;
  font-weight: bold;
}
.prof-btns label {
  display: block;
}